#menu ul{
	width: 200px;
	height: auto;
	background-color: #888;
	display: block;
	margin: 0;
	padding: 0;
	width: 206px;
}

#menu li{
	list-style: none;
	display: block;
	width: 100%;
	height: auto;
	color: #fff;
	font-family: monospace;
	font-size: 15px;
	padding: 20px;
	text-align: center;
}

#menu li:hover{
	background: #1f1f1f;
	width: 166px;
}

#menu li{
	-webkit-transition:all .9s ease;
	-moz-transition:all .9s ease;
	-ms-transition:all .9s ease;
	transition:all .9s ease;
}

a{
	text-decoration: none;
}