@charset "utf-8";
body {
	background: #333;
	background-size: cover;
	font-family: helvetica;
	font-size: .7em;
	font-weight: bold;
}

.formulario {
	margin: 0 auto;
	width: 250px;
	padding: 40px;
}

.grupo {
	position: relative;
	float: center;
	margin: 8px;
}

input {
	top: 1px;
	padding: 10px 10px;
	border: none;
	outline: none;
	background: #fff;
	color: #000;
	width: 16em;
}

label {
	color: #fff;
	position: absolute;
	z-index: 1;
	top: 2px;
	left: 0;
	background: #717171;
	padding: 7px 4px;
	margin: 2px 0px;
	transition: top 1s;
	-webkit-transition: top 1s;
	width: 18.4em;
}

.grupo:hover label {
	top: -24px;
}

.grupo.rodape:hover label {
	top: 27px;
}

.botaoEnviar {
	border: none;
	background: #00abff;
	padding: 7px;
	color: #fff;
	border-radius: 2px;
	text-transform: uppercase;
	margin: 30px 6px 0;
	width: 10em;
	position: relative;
	box-shadow: 0 5px #4e89ce;
	cursor: pointer;
	font-weight: bold;
}

.botaoEnviar:hover {
	top: 2px;
	box-shadow: 0 3px #4e89ce;
}

.grupo:after {
	content: "";
	display: table;
	clear: both;
}